.home {
  background-image: url("../public/assets/images/home/top.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.navbar {
  background: linear-gradient(
    180deg,
    #ffffff -35.22%,
    rgba(255, 255, 255, 0.89) 23.24%,
    rgba(255, 255, 255, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
}
